body {
  height: 100%;
  overflow: auto;
  margin: 0;
  background-color: #c0392b;
  -webkit-overflow-scrolling: touch;
  opacity: 1;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 70px;
}
h2{
  font-family: 'Poiret One', cursive;
  font-size: 50px;
}
h3{
 font-family: 'Orbitron', sans-serif;
  font-size: 50px;
}
h4{
  font-family: 'Poiret One', cursive;
  font-size: 70px;
}
h7{
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  marging-left:auto;

}
.right {
    float: right;
    width: 180px;
    padding: 5px;
}


.form-style-4{
    width: 450px;
    font-size: 16px;

    padding: 30px 30px 15px 30px;

}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #c0392b;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 200px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=text] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}
.blanc{
  background-color: white;
}

.bouton
{
    color:#0000ff;
    font-size:24px;
    cursor:pointer;
}
.bouton:hover
{
    text-decoration:underline;
}
.texte
{


    padding:10px;
    color:#333333;
  display: none;
}
.more{
     padding:10px;
    color:#333333;
  display: none;
}
